# виртуальное окружение
.venv/
# логи
logs/
bench/
config/*.json
# временные и дампы
*.duckdb
*.ducktape
*.bak
__pycache__/
*.pyc
*.env
# Jupyter
.ipynb_checkpoints/
# кэш VSCode
.vscode/
# data dumps
app/data/backups/
app/data/cache/
git